body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 8vw);
  grid-template-rows: repeat(10, 8vw);
  grid-gap: 1vw;

  margin: 1vw 1vw;
}

.letter {
  line-height: 8vw;
  font-family: 'Futura W01', helvetica, san-serif;
  font-size: 4em;
  text-align: center;
  border: 1px solid black;
}
