body {
  padding: 0;
  margin: 0;
  /*! font-family: 'Anonymous Pro', monospace; */
  font-weight: 400;
  background-color: #595959;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
}

.grid-container {
  display: grid;

  grid-template-columns: repeat(11, 6vw);
  grid-template-rows: repeat(11, 6vw);
  justify-content: center;
}

.item {
  line-height: 6vw;
  font-size: 3.5rem;
}

.item {
  grid-row: 8;
}

.item:nth-child(1) p {
  text-align: right;
}

.item:nth-child(2) {
  grid-column: 2/ span 5;
}

.item p {
  margin: 0;
  color: #36a1f9;
}

.graphic {
  grid-row: 4;
  background-color: #ffff9d;
  border-radius: 50%;
}

.graphic:nth-child(3) {
  grid-column: 2;
}

.graphic:nth-child(4) {
  grid-column: 4;
}

.graphic:nth-child(5) {
  grid-column: 6;
}

.graphic:nth-child(6) {
  grid-column: 8;
}

.graphic:nth-child(7) {
  grid-column: 10;
}

.graphic:nth-child(8) {
  grid-row: 2;
  grid-column: 8;
  background-color: #fffad5;
}

.graphic:nth-child(9) {
  grid-row: 2;
  grid-column: 10;
  background-color: #fffad5;
}

.graphic:nth-child(10) {
  grid-row: 6;
  grid-column: 6;
  background-color: #ffd34e;
}

.graphic:nth-child(11) {
  grid-row: 6;
  grid-column: 8;
  background-color: #ffd34e;
}
